*{
    font-family: 'Open Sans', sans-serif;
  
}

/* cambiando tamaño de imagen */
.imagen_carrusel{
    width: 100%;
    height: 600px;
}
/* seccion principal */
 main{
    background-color: black;
 }

 /* seccion quienes somos */
.quienes_somos{
    padding: 20px;
    
    
 } 
 .texto{
    text-align: justify;
    padding: 10px;
 }
.iconos{
    background-color: #17A2B8;
    margin: 10px;
    
}


/* seccion cards */

.destacados{
    padding: 90px  90px;
}
.imagen_cards{
    
    height: 231px;
    

}
.card-body{
    background-color: #17A2B8;
    
}
 /* seccion formulario */
.contacto{
    
    padding: 80px;
}

.boton_enviar{
    background-color: #17A2B8 ;
    margin: 10px;
}


/*  seccion de footer */
footer{
    background-color: #17A2B8;
    padding: 20px;

    
    
}

